node_modules
main/__pycache__/
hello/__pycache__/
main/migrations/__pycache__/
media/media/product_images/
db.sqlite3
.env
core/__pycache__/
core/migrations/__pycache__/
property/migrations/__pycache__/
property/__pycache__/
order/__pycache__/
payment/__pycache__/
user/__pycache__/
listing/__pycache__/
payment/migrations/__pycache__/
order/migrations/__pycache__/
main/__pycache__/
listing/migrations/__pycache__/
frontend/__pycache__/
frontend/__pycache__/
main/__pycache__/
.venv




