/* General button styles */
.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Primary button (red background) */
.button.primary {
  background-color: rgb(230, 29, 32);
  color: white;
  padding: 0 50px 0 60px;
}

/* Secondary button (outlined white background) */
.button.secondary {
  background-color: #fff;
  color: #808080;
}


/* Hover effects */
.button.primary:hover {
  background-color: #e53935;
}

.button.secondary:hover {
  background-color: #f5f5f5;
}
