@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8faf8;
    --text: #0e140e;
    --primary: #6f9972;
    --secondary: #bdb0c7;
    --accent: #ab899c;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Figtree", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar{
  position: relative;
  z-index: 1;
  height: 100%;
  
}
.sidebar.fixed{
  position: fixed;
  top: 6%;

}