footer{
    position: relative;
    height: auto;
    margin-top: 100px;
    background-color: transparents;
}
.topper{
    top: -50px; 
    right: 79px; 
    height: 250px;
    background-color: rgb(121, 121, 216);
    width: 79%;
}
.lower{
    padding-top: 40vh;
    width: 100%; /* Full width */
    height: 100%;
    bottom: 0;
}